@tailwind base;
@tailwind components;
@tailwind utilities;

.home_nav_bar nav {
    @apply 
    bg-amber-900
    flex
    py-6 px-10
    w-full
    items-center
    justify-between
    shadow-md;
    color: #ece4e4;
    
}

.home_nav_bar ul {
    @apply 
    flex
    list-none
    items-center
    divide-x
    space-x-4;
    color: #ece4e4;
}

.menu-icon {
    @apply flex items-center;
    display: none;
}

@media only screen and (max-width: 600px) {
    .menu-icon {
        display: block
    }

    .home_nav_bar ul {
        display: none;
    }
}


.profile_dropdown {
    @apply flex items-center ml-4;
    display: block;

}

.login_form {
    @apply
    flex
    place-items-center
    justify-center
    rounded-md
    bg-amber-950
}